.popup {
    position: fixed;
    width: 1400px;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0, 0);
}
.popup_inner {
    color: white;
    font-size: 12px;
    position: fixed;
    width: 40%;
    height: 80% !important;
    top: 10%;
    left: 33%;
    border: 6px solid orange;
    background: blue;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.PopB2
{
    position:absolute;
    top: 95%;
    left: 37%;
}

.popup-content2 {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Bruce
{
    width: 90%;
}
.Edwin
{
    width: 90%;

}
.Connor
{
    width: 90%;
}
.Samir
{
    width: 90%;
}

.BigWrapper2
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.P12
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 45%;
    height: 80%;
}

.P22
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 45%;
    height: 80%;
}
.P3
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 45%;
    height: 80%;
}
.P4
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 45%;
    height: 80%;
}

