 .homepage-base{
    height: 100vh;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title-base{
    background: black;
    padding: 20px;
    border: 6px solid orange;
    width: 45%;
    height: auto;
    position: absolute;
    top: 14%;
    left: 28%;
}
 .AlbertChomp{
     width: 20%;
     height:auto;
     position: absolute;
     top: 46%;
     left: 5%;
 }
 .BertoChomp{
     width: 20%;
     height:auto;
     position: absolute;
     top: 46%;
     left: 76%;
 }
.HButton
{
    height: auto;
    position: absolute;
    top: 85%;
    left: 85%;
}
 .Creators
 {
     height: auto;
     position: absolute;
     top: 85%;
     left: 5%;
 }
.PButton
{
    position: absolute;
    top: 50%;
    left: 47.5%;
}





