git .homepage-base{
    height: 100vh;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    color: darkgreen;
    font-size: 80px;
    text-align: center;
    word-wrap: anywhere;
    font-family: "Fantasy", Jazz LET, fantasy;
}

